*
{
    font-size: 18px;
    font-family: Tahoma;
    color: rebeccapurple;
    background-color: mediumpurple;
    line-height: 1.5;
}


.link
{
    color: orange;
}


.link h3, a
{
    color: inherit;
}
